.container > div {
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Tim
    es, 'Times New Roman', serif;

}

html, body {
    box-sizing: border-box;
    background-color: aqua;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

.container > div:nth-child(1) {
    background-color: brown;
}

.container > div:nth-child(2) {
    background-color: rgb(189, 135, 135);
}

.container > div:nth-child(3) {
    background-color: rgb(92, 180, 70);
}

.container > div:nth-child(4) {
    background-color: rgb(107, 153, 180);
}

.container >div:nth-child(5)  {
    background-color: brown;
}